n8n/workflows/sms-confirm.json
{
  "name": "sms-confirm",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sms-confirm",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "confirm-in",
      "name": "Confirm In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "sms-confirm-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{$json.headers[\"x-confirm-secret\"]}}",
              "rightValue": "={{$env.SMS_CONFIRM_SECRET}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-secret",
      "name": "Check Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ACTUAL_API_URL}}/budgets/{{$env.ACTUAL_BUDGET_SYNC_ID}}/accounts/{{$json.body.txn.account}}/transactions/import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ACTUAL_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { transactions: [$json.body.txn], defaultCleared: false } }}",
        "options": {}
      },
      "id": "import-confirmed",
      "name": "Import Confirmed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        200
      ]
    }
  ],
  "connections": {
    "Confirm In": {
      "main": [
        [
          {
            "node": "Check Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Secret": {
      "main": [
        [
          {
            "node": "Import Confirmed",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}